<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        {% include "navbar.html" %}
        <!-- End header header -->
        <!-- Left Sidebar  -->
        {% include "sidebar.html" %}
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Hasil Rekap Prediksi Tiap Semester</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Data</a></li>
                        <li class="breadcrumb-item active">Rekap Hasil Prediksi</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                                <div class="card-body">
                                    <div class="vtabs customvtab">
                                        <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                            {% for i in range(n) %}
                                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#home{{ i }}" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">{% print tab[i] %}</span> </a> </li>
                                            {% endfor %}
                                        </ul> 
                                        <!-- Tab panes -->
                                        <div class="tab-content" style="width: 100%;">
                                            {% for i in range(n) %}
                                            <div class="tab-pane" id="home{{ i }}" role="tabpanel">
                                                <div class="table-responsive" style="overflow: auto;height: 300px;">
                                                    {{
                                                        dftab[i].to_html(classes='table table-bordered')|safe
                                                    }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
				        </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            {% include "footer.html" %}
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    {% include "script.html" %}
</body>

</html>