<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        {% include "navbar.html" %}
        <!-- End header header -->
        <!-- Left Sidebar  -->
        {% include "sidebar.html" %}
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Beranda</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                            </div>
                            <div class="card-body">
                                <h1 align="center">Selamat Datang di Website Analisa Sentimen Indeks Kinerja Dosen dengan Metode Naive Bayes</h1><br>
                                <p>Petunjuk penggunaan sistem ini adalah :</p><ol>  <li>1. Klik&nbsp;&quot;<i class="fa fa-folder-open"></i> Load Data&quot; pada menu sebelah kiri</li> <li>2. Pilih semester yang akan diprediksi</li>    <li>3. Masukkan tahun ajaran yang akan di prediksi</li>    <li>3. Pilih file dengan klik tombol &quot;Browse File&quot;, kemudian pilih file yang akan diproses (pastikan data sama dengan tahun ajaran dan semester yg sudah diinputkan)</li>    <li>4. Klik tombol &quot;Upload&quot; dan tunggu hasilnya</li></ol><p><strong>NB :&nbsp;</strong>Untuk melihat hasil dari analisa sistem dapat meng-klik &quot;<i class="fa fa-list-alt"></i> Hasil Analisa&quot; atau &quot;<i class="fa fa-area-chart"></i> Grafik&quot; pada menu sebelah kiri</p>
							</div>
                        </div>
                    </div>
				</div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            {% include "footer.html" %}
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    {% include "script.html" %}

</body>

</html>