
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Beranda</li>
                        <li> <a href="/" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="nav-label">Data</li>
                        <li> <a href="upload" aria-expanded="false"><i class="fa fa-folder-open"></i><span class="hide-menu">Load Data</span></a></li>
                        <li class="nav-label">Report</li>
                        <li> <a href="hasil_analisa" aria-expanded="false"><i class="fa fa-list-alt"></i><span class="hide-menu">Hasil Analisa</span></a></li>
                        <li> <a href="grafik" aria-expanded="false"><i class="fa fa-area-chart"></i><span class="hide-menu">Grafik</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>